header {
  background-color: rgb(49, 49, 49);
}

h1 {
  text-align: center;
  color: white;
  padding: 25px;
}

#search {
  float: right;
  margin-left: 5px;
}

.weather {
  /* float: right; */
  display: inline-block;
}
input {
  width: 75% !important;
}
.card1,
.card2,
.card3,
.card4,
.card5 {
  background: rgba(38, 109, 241, 0.979);
  border: none;
  margin: 5px;
  display: inline-block;
}
