header {
  background-color: rgb(49, 49, 49);
}

h1 {
  text-align: center;
  color: white;
  padding: 25px;
}

#search {
  float: right;
  margin-left: 5px;
}

.weather {
  /* float: right; */
  display: inline-block;
}
input {
  width: 85% !important;
}
/* img {
  float: left;
} */
